html body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000;
  color: #ddd;
  padding: 0;
  margin: 0;
}

.navbar {
  position: fixed;
  background-color: #000;
  width: 100%;
  height: 120px;
}

.userlogo {
  border-radius: 40px;
  width: 100px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.userdesc {
  font-size: 30px;
  color: #999;
  position: absolute;
  top: 23px;
  left: 140px;
}

.searchbox, .userbox {
  display: inline-block;
  width: 400px;
  height: 37px;
  background-color: #222;
  border: 1px solid #333;
  border-radius: 10px;
  color: #ddd;
  font-size: 20px;
  padding-left: 10px;
}

.searchbox {
  position: absolute;
  left: 140px;
  top: 68px;
}

.userbox {
  margin: 20px;
}

.user-select .title {
  font-size: 20px;
  color: #ccc;
  margin-left: 20px;
  margin-top: 20px;
}

.loading {
  position: absolute;
  left: 140px;
  top: 75px;
}

.clipspanel {
  padding-top: 130px;
  padding-left: 20px;
}

.clip {
  display: inline-block;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px;
  color: #ddd;
}

.clip .thumbnail img {
  width: 300px;
}

.clip:hover {
  border: 1px solid rgb(34, 44, 54);
  background-color: rgb(22, 25, 28);
  color: #fff;
}

.clip .creator {
  color: #777;
}

.backbutton {
  position: absolute;
  right: 20px;
  top: 20px;
}

.backbutton img {
  width: 50px;
}